<h3>The perfect dress for perfect wedding</h3>
<p>descriere</p>
<div>
    <div class="container">
    <div class="left">
        <img src="./assets/images/fash2.jpg" alt="Imagine 1">
    </div>
    <div class="right">
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quis, vitae ipsum repudiandae quod ut adipisci. Impedit cupiditate ab harum.
        </p>
    </div>
    </div>
    <div class="overlap">                
    <img src="./assets/images/2.jpg" alt="Imagine 2">
    </div>              
</div>
